# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Everything under any ./stage directory
*.tar.gz
*.jar

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Shadowtraffic license file
conf/license.env

# Dependency directories (remove the comment below to include it)
# vendor/
.DS_Store
.idea/
.vscode/

# Folders where jar and *.tar.gz files will be staged, not to be included in git sync.
# also excluding these via *.tar.gz and *.jar definitions higher up.
temp/*
examples/*
